<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="CrossBrowserTesting.BrowserTestonChrome"/>
      <class name="WorkingwithAlertsFrameandWindows.WindowTest"/>
      <class name="com.pom.practice.firstpom.pages.ElementExe"/>
      <class name="com.pom.practice.firstpom.pages.FrameTest"/>
      <class name="WorkingwithAlertsFrameandWindows.FramesTest"/>
      <class name="com.pom.practice.firstpom.pages.SeleniumAPI"/>
      <class name="ExtendingSelenium.BmiCalculatorTest"/>
      <class name="HTML5VideoPlayer.HTML5VideoPlayer"/>
      <class name="ExtendingSelenium.Objectmaptest"/>
      <class name="ExtendingSelenium.WebTableTest"/>
      <class name="com.pom.practice.firstpom.pages.LoginTest"/>
      <class name="WorkingwithAlertsFrameandWindows.AlertsTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
